div#banner { 
  margin: 0; 
  padding: 55px 0; 
  display: block; 
  text-indent: -9999px; 
  background: transparent url('images/header-bg.png') no-repeat top center; }

div#navigation ul { 
  list-style-type: none; }
