html, head, body {
  background: #fff url('content-bg.png') repeat top left; 
  margin: 0 auto; 
  width: 940px; }

div.section, div.questions{
  background: #fff url('content-bg.png') repeat top left; 
  margin: 0 auto; 
  width: 940px; }

body {
  height: 100%; }

div#banner { 
  margin: 0; 
  padding: 0px 0px 50px; 
  display: block; 
  text-indent: -9999px; 
  background: transparent url('header-bg.png') no-repeat top center; }

div.navigation-left {
  padding-bottom: 0px; }

div.navigation-right {
  padding-bottom: 0px; }

div.navigation-left ul { 
  list-style-type: none; }

div.navigation-right ul { 
  list-style-type: none; }

div.navigation-left li { 
  float: left; 
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase; 
  border-right: 1px solid #fff; }

div.navigation-right li { 
  float: right;
  padding-left: 20px;
  padding-right: 20px; 
  text-transform: uppercase;
  border-left: 1px solid #fff; }

div.navigation-left li:last-child {
  border-right: none; }

div.navigation-right li:last-child {
  border-left: none; }

label {
  color: #eee; }

a.banner {
  display: block;
  height: 155px; }

.left {
  float: left; }

.right {
  float: right; }